/*--------------------menu---------------------
body {margin:0;}

.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 25%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #20B2AA;
}
/*------------------end of menu----------------*/

.start {
	color:#1FB28D;
	font-size:15px;
	font-family:Arial;
	margin-left:30px;
	text-align:left;
}

.title {
	margin-left: 10px;
	color: #1F8DB2;
	font-family:Arial;
	}
	
.explain {
	margin-left: 10px;
	color: #1F8DB2;
	font-family:Arial;
	}

#textinput {
	width: 40%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #20B2AA;
	border-radius: 4px;
	background-color: #ffe6e9;
	font-size: 16px;
	margin-top: 10px;
	margin-left: 50px;
}

#translate {
	margin-top: 50px;
	margin-left: 30px;
	color: #20B2AA;
	font-size:15px;
	font-family:Arial;
	text-align:left;
}